body {
	background-color: #222; 
	
}

.roc{
	position: relative;
	left: 15%
}

.pa{
	position: relative;
	right: -20%
}

.scs{
	position: relative;
	right: -25%
}

.uno {
	color:#fdf7f7;
	margin: 0px;
	padding-top: 40px;
	font-size: 30px;
}

.dos {
		color:#fdf7f7;
	margin: 0px;
	padding-bottom: 40px;
	font-size: 20px;
}